<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Images/ConserviceLogo.png" alt="Conservice">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Reports<b class="caret"></b></a>
                        <ul class="nav navbar-nav dropdown-menu">
                            <li>@Html.ActionLink("Attrition Reports", "Attrition", "Reports")</li>
                            <li>@Html.ActionLink("Employee Reports", "EmployeeCounts", "Reports")</li>
                            <li>@Html.ActionLink("Audit Reports", "Index", "AuditLog")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Data Management<b class="caret"></b></a>
                        <ul class="nav navbar-nav dropdown-menu">
                            <li>@Html.ActionLink("Positions", "Index", "Positions")</li>
                            <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                            <li>@Html.ActionLink("EmploymentStatus", "Index", "EmploymentStatus")</li>
                            <li>@Html.ActionLink("Shifts", "Index", "Shifts")</li>
                            <li>@Html.ActionLink("Permissions", "Index", "Permissions")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
